@font-face {
  font-family: "Lucida Grande";
  src: url("../vendors/fonts/762168.ttf");
}

$Lucida-Grande : "Lucida Grande", sans-serif;

@font-face {
  font-family: "Lucida Grande Bold";
  src: url("../vendors/fonts/762154.ttf");
}

$Lucida-Grande-Bold : "Lucida Grande Bold", sans-serif;

@font-face {
  font-family: "Futura Light";
  src: url("../vendors/fonts/6474915457.ttf");
}
$Futura-Light : "Futura Light", sans-serif;

@font-face {
  font-family: "Futura";
  src: url("../vendors/fonts/8051781869.ttf");
}
$Futura : "Futura", sans-serif;

@font-face {
  font-family: "Futura Bold";
  src: url("../vendors/fonts/futura-md-bt-bold.ttf");
}
$Futura-Bold : "Futura Bold", sans-serif;

@font-face {
  font-family: "ITCEDSCR";
  src: url("../vendors/fonts/ITCEDSCR.TTF");
}
$ITCEDSCR : "ITCEDSCR", sans-serif;

@font-face {
  font-family: "GOTHIC";
  src: url("../vendors/fonts/GOTHIC.TTF");
}
$GOTHIC : "GOTHIC", sans-serif;